# Используемые переменные окружения в проекте.

# Переменные записаны внутри Gitlab -> CI/CD -> Variables
CI_REGISTRY_USER=ci_registry_user
CI_REGISTRY_PASSWORD=ci_registry_password

SERVER_IP=server_ip
SERVER_USER=server_user
SERVER_PASSWORD=server_password
SERVER_KEY=path_to_server_key

# Переменные записанные в .gitlab-ci.yml
DOCKER_IMAGE=docker_image_name# хардкод
IMAGE_TAG=ci_commit_ref_slug# хардкод

REPORTS_DIR=reports_dir# хардкод
ALLURE_RESULTS_PATH=allure_results_path# хардкод
ALLURE_REPORT_PATH=allure_report_path# хардкод
ALLURE_SERVER_PATH=allure_server_path# хардкод
ALLURE_REPORT_URL=llure_report_url# хардкод

JOB_ID=ci_job_id# хардкод, динамически получаемый из этапа тестирования
LATEST_JOB_ID=latest_report_id# хардкод, динамически получаемый из этапа генерации отчёта

# Параметризируемые переменные записанные в tests/test-runner.sh (можно подменять при необходимости при запуске в Docker или Pipelines -> Run Pipeline)
COLLECTION_PATH=collection_path# параметризируемый со стандартным значением
ENV_PATH=env_variables_path# параметризируемый со стандартным значением
GLOBAL_PATH=global_variables_path# параметризируемый со стандартным значением
FOLDER=postman_folder_name# параметризируемый со стандартным значением
ITERATIONS=iterations_number# параметризируемый со стандартным значением